/// Button Color
$c-btn: #FA6D22;

/// Font Colors
$c-brick: #E87400;
$c-orange: #FA6D22;
$c-dark-purple: #79457A;
$c-darkish-purple: #6F3871;
$c-darker-purple: #471D48;
$c-purple: #C775BE;
$c-grey-nav: #6C6561;
$c-yellow-black: #393937;
$c-light-blue: #80D4FF;
$c-blackish: #333333;
$c-insurance-yellow: #fee8db;

/// Background Colors
$c-nav-background: #F2E9F9;
$c-associations: #FFFFFF;
$c-light-pink: #F3EBF3;


/// Misc
///
$c-star: #FFDA00;
$c-star-2: #FFB111;
$c-black: #000000;
$c-white: #FFFFFF;
$c-clear: rbga(0,0,0,1);



//NEW COLORS!!


//Fonts
$c-teal: #3AA5CC;
$c-teal-2: #4AB6D6;
$c-teal-lighter: #218AAE;
$c-dark-blue: #4B6583;
$c-beige: #A99E71;
$c-beige-green: #9AA996;
$c-black-green: #555555;
$c-grey-green: #838383;
$c-red-grey: #444444;
$c-grey-red: #575757;
$c-grey-red-2: #979797;
$c-grey-red-3: #656565;
$c-grey-red-4: #999999;
$c-grey-yellow: #71706E;
$c-greyer-yellow: #393937;

$c-grey: #7B7B7B;


$c-breakline-grey: #979797;


/// Specials Cards
$c-card1: #B2A554;
$c-card2: #FFC24E;
$c-card3: #7A9CC5;