#section-about {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;

  @include parallax-background();
  background-position: bottom center;


  .heading {
    text-align: center;
    h2{
      font-family: $ff-roboto-condensed;
      color: #4a6456;
      font-weight: 300;
      span {
        @include h3;
      }
    }
  }

  p {
    font-family: $ff-lato;
    color: #414b4d;
    font-weight: 400;
  }

  p.additional {
    color: #545c5e;
    font-style: italic;
    font-family: $ff-lato;
  }

  .bio-image {
    text-align: center;
    @media screen and (max-width: $width-md) {
      margin-bottom: $spacing-md;
    }
    img {
      border-radius: 45px;
    }
  }

  .row {
    @media screen and (min-width: $width-md+1) {
      display: flex;
    }
    &>div:last-child {
      background-color: #fff;
      padding: $spacing-md;
      color: $c-grey;
    }
  }
}
