/// The Nav Color Mixin
/// @param $color - the text color
/// @param {number} $child [false] - the `nth-child`
@mixin nav-color($color, $child:false) {
  @if $child {
    li:nth-child(#{$child}) {
      & a {
        color: $color;
        &:hover {
          color: $color;
        }
        &>div {
          color: $color;
        }
      }
    }
  } @else {
    li {
      & a {
        color: $color;
        &:hover {
          color: $color;
        }
        &>div {
          color: $color;
        }
      }
    }
  }
}

/// Static Nav Height - sticky nav menu will not change height when you scroll. Over writes canvas.
/// @group effect
/// @example #wrapper { @include static-nav-menu(); }
@mixin static-nav-menu() {
  #header.sticky-header:not(.static-sticky),
  #header.sticky-header:not(.static-sticky) #header-wrap,
  #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 100px;
  }
  #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 39px;
  }
  #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    transform: translateY(15%);
  }
}

/// Sticky Header - in case the header sticky has been edited in canvas, this is the original code that will stick your header to the top
/// @group effect
/// @example body { @include sticky-nav(); }
@mixin sticky-nav() {
  #header.sticky-header #header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
}


#header {

  width: 100%;
  font-family: $ff-open;
  font-weight: 700;


  #primary-menu-trigger {
    font-size: 30px;
    pointer-events: auto;
  }
  #header-wrap {
    border-bottom: 0;
    background-color: rgba($c-white, 1);
  }
  #logo {
    padding-right: 0;
    margin-right: 0px;
    border-right: none;
    img {
      padding-top: 20px;
      padding-left: 40px;
      height: auto !important;
    }
  }
  #primary-menu > ul {
    margin-right: 0;
    border-right: none;

    @include nav-color(#868686);
    @include nav-color(#47607E, 1);
    @include nav-color(#F09454, 2);
  }

  @media screen and (max-width: $width-md) {
    #logo {
      img {
        margin-right: 100%;
        //padding: $spacing-xs;
      }
    }
    #primary-menu-trigger {
      right: 0;
      left: inherit;
      color: #575757;
    }
    #primary-menu .show {
      background-color: $c-white;
    }
  }

}

#primary-menu ul li > a {
  font-family: $ff-open;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
  text-transform: none;
  padding: 27px 14px;
  @media screen and (max-width: 1300px) {
    font-size: 16px;
    padding: 27px 12px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: $width-lg) {
    font-size: 14px;
    letter-spacing: 0.7px;
    padding: 27px 8px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 1090px) {
    font-size: 13px;
  }
  @media screen and (max-width: 991px) {
    padding-left: 40px !important;
    font-size: 18px;
  }
  @media screen and (max-width: $width-sm) {
  }
  @media screen and (max-width: $width-xs) {
  }
  padding-bottom: 10px;
}