#slider {

  .swiper-slide {
    background-position: top center;
  }

  .swiper-slide.slide1 {
    background-image: url('/assets/slide1.jpg');
    background-position: left;
  }
  .swiper-slide.slide2 {
    background-image: url('/assets/slide3.jpg');
  }
  .swiper-slide.slide3 {
    background-image: url('/assets/slide2.jpg');
    background-position: 30%;
  }

  .swiper-slide .row {
    @include vertical-center(45%);
  }

  .slide1 {
    text-align: center;
    h2:first-child {
      font-family: $ff-roboto-condensed;
      font-weight: 700;
      color: #47607e;
      margin-bottom: 0;
    }
    h2:nth-child(2) {
      font-family: $ff-roboto-condensed;
      font-weight: 300;
      color: #4a6456;
      line-height: 1;
      margin-bottom: $spacing-lg;
    }
    &-well {
      display: inline-block;
      background-color: rgba(white, 0.65);
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      border-radius: 20px;
      margin-bottom: 45px;

      .copy {
        font-family: $ff-lato;
        font-weight: 700;
        color: #515151;
        margin-bottom: 0;
        line-height: 1;
      }
      .quotee {
        font-family: $ff-lato;
        font-weight: 400;
        margin-bottom: 0;
        color: #636363;
      }

      .stars {
        h2 {
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          margin-top: -40px;
          color: #ffd900;
        }
      }
    }

  }
  .slide2 {
    h1 {
      font-family: $ff-roboto-condensed;
      font-weight: 700;
      color: #47607e;
      @include h2(-4);
      margin-bottom: 0;
      line-height: 1;
    }
    h2 {
      font-family: $ff-roboto-condensed;
      font-weight: 300;
      color: #4a6456;
      margin-bottom: 0;
    }
    &-well {
      display: inline-block;
      background-color: rgba(white, 0.65);
      padding: 30px 60px;
      border-radius: 20px;
      margin-bottom: 100px;
    }
    h4 {
      font-family: $ff-lato;
      font-weight: 700;
      color: #515151;
      margin-bottom: 15px;
    }


  }
  .slide3 {
    h1 {
      font-family: $ff-roboto-condensed;
      font-weight: 700;
      color: #47607e;
      @include h2(5w);
      margin-bottom: 0;
      line-height: 1;
    }
    h2 {
      font-family: $ff-roboto-condensed;
      font-weight: 300;
      color: #4a6456;
      margin-bottom: 0;
    }
    &-well {
      display: inline-block;
      background-color: rgba(white, 0.65);
      padding: 30px 60px;
      border-radius: 20px;
      margin-bottom: 100px;
    }
    h4 {
      font-family: $ff-lato;
      font-weight: 700;
      color: #515151;
      margin-bottom: 15px;
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .arrow-down--wrapper {
    height: 20px;
  }

  //Reposition arrow higher for transparent phone-slug
  .one-page-arrow {
    //bottom: 140px;
  }

}

.animated.infinite {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 999;
  color: $c-grey-red-2;
}

.icon-arrow-down {
  color: white;
  border: 2px solid white;
  border-radius: 10000px;
  width: 50px;
  height: 50px;
  font-size: 30px;
}


#mobile-background {
  display: none;
  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}