#section-services {

}

.services-carousel {
  background-color: #cfd1ce;
  .container-fluid {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .service-item {

    a { @include link-color($c-grey-red); }

    &--image {
      @include hover-plus();
    }

    h5 {
      text-align: center;
      text-transform: uppercase;
      font-family: $ff-mont;
      font-weight: 700;
      padding-top: 15px;
      @include font-size(18px, 14px, 15px, 14px, 14px);
    }
  }
}

.service-modal-wrapper {
  & .modal-title {
    @include h3;
    font-family: $ff-mont;
    font-weight: 700;
    color: $c-grey-red;
    padding-top: 10px;
  }
  & p {
    color: $c-grey-red;
    padding-bottom: 15px;
  }
  .modal-image {
    text-align: center;
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }
  img {
    max-width: 270px;
    padding-bottom: 20px;
  }
}
