#section-tour {
  padding-top: $spacing-xs;
  background-color: $c-white;

  .tour-carousel {
    background-color: $c-blue-4;
  }

  .heading {
    text-align: center;
    color: $c-blue-3;
    font-weight: 600;
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
    margin-bottom: 0;
  }

  div[class^=owl-item]>a {
    @include hover-plus;
  }
  .tour-carousel-2 {
    display: hidden;

    .owl-item>.owl-item {
      width: 100%;
    }
  }
}