.owl-carousel .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: -70px;
  zoom: 1;
  width: 65px;
  height: 65px;
  line-height: 32px;
  color: $c-white;
  background-color: rgba(#5C6B7E, 1);
  font-size: 60px;
  border-radius: 0;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  & [class*=icon-] {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -8px;
  }
  & .icon-caret-left {
    margin-left: -12px;
  }
  img {
    @include vertical-center;
  }
}
.owl-carousel .owl-nav .owl-prev {
  left: -70px;
  img {
    -moz-transform: scaleX(-1) translateY(-50%);
    -o-transform: scaleX(-1) translateY(-50%);
    -webkit-transform: scaleX(-1) translateY(-50%);
    transform: scaleX(-1) translateY(-50%);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.owl-carousel:hover .owl-nav .owl-next {
  left: auto;
  right: -70px;
}
.owl-carousel:hover .owl-nav .owl-prev {
  opacity: 1;
  left: -70px;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
  background-color: rgba(#5C6B7E, 1) !important;
  color: $c-white !important;
  text-decoration: none;
}

.carousel--wrapper {
  padding-left: 70px;
  padding-right: 70px;
}
